extends ../layout

block body
	if portfolioimage
		.row
			.col-xs-7
				h1 #{portfolioimage.title} #[small.secondary-text= date(portfolioimage.createdAt)]
				h5 By #{portfolioimage.author}
				p.posttext= portfolioimage.body
				if portfolioimage.imageFilename
					p: a(href=`${portfolioimage.url}/photo`)
						img(src=portfolioimage.imageThumbnailUrl)
	
	else
		h2 Not Found
		p That image post does not exist.		

	div
		a.btn.btn-primary.btn-sm(href='/portfolio') Back